extends base

block vars
    - var title="Home"

block body
    h1 Authentication
    p. 
        Welcome to web-authentication! Please #[a(href="/register") register] or #[a(href="/login") login] to continue.